openapi: 3.1.0
info:
  title: ShipStation V1 Accounts Carriers API
  description: The ShipStation V1 API provides programmatic access to ShipStation's shipping platform for ecommerce businesses. Endpoints cover order management, shipment creation, label generation, carrier rate shopping, package tracking, warehouse management, product management, and store integrations. Authentication uses HTTP Basic auth with API key and secret.
  version: '1.0'
  contact:
    name: ShipStation
    url: https://www.shipstation.com/docs/api/
    email: apisupport@shipstation.com
  license:
    name: ShipStation API Terms
    url: https://www.shipstation.com/legal/terms-of-service/
  x-date: '2026-05-02'
servers:
- url: https://ssapi.shipstation.com
  description: ShipStation V1 API
security:
- BasicAuth: []
tags:
- name: Carriers
  description: Query carriers and services
paths:
  /shipments/getrates:
    post:
      operationId: getShippingRates
      summary: Get Shipping Rates
      description: Retrieves shipping rates for the specified shipment details.
      tags:
      - Carriers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateRequest'
      responses:
        '200':
          description: Shipping rates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rate'
  /carriers:
    get:
      operationId: listCarriers
      summary: List Carriers
      description: Lists all shipping providers connected to this account.
      tags:
      - Carriers
      responses:
        '200':
          description: A list of carriers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Carrier'
  /carriers/getservices:
    get:
      operationId: listCarrierServices
      summary: List Carrier Services
      description: Lists the services available to the specified carrier.
      tags:
      - Carriers
      parameters:
      - name: carrierCode
        in: query
        required: true
        description: The carrier's code
        schema:
          type: string
      responses:
        '200':
          description: A list of carrier services
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CarrierService'
  /carriers/listpackages:
    get:
      operationId: listCarrierPackages
      summary: List Carrier Packages
      description: Retrieves a list of packages for the specified carrier.
      tags:
      - Carriers
      parameters:
      - name: carrierCode
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of packages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Package'
components:
  schemas:
    RateRequest:
      type: object
      required:
      - carrierCode
      - fromPostalCode
      - toPostalCode
      - toCountry
      - weight
      properties:
        carrierCode:
          type: string
        serviceCode:
          type: string
        packageCode:
          type: string
        fromPostalCode:
          type: string
        toPostalCode:
          type: string
        toState:
          type: string
        toCountry:
          type: string
        toCity:
          type: string
        weight:
          $ref: '#/components/schemas/Weight'
        dimensions:
          $ref: '#/components/schemas/Dimensions'
        confirmation:
          type: string
        residential:
          type: boolean
    Carrier:
      type: object
      properties:
        name:
          type: string
          description: Carrier name
        code:
          type: string
          description: Carrier code
        accountNumber:
          type: string
        requiresFundedAccount:
          type: boolean
        balance:
          type: number
        nickname:
          type: string
        shippingProviderId:
          type: integer
        primary:
          type: boolean
    Rate:
      type: object
      properties:
        serviceName:
          type: string
        serviceCode:
          type: string
        shipmentCost:
          type: number
          format: float
        otherCost:
          type: number
          format: float
    Weight:
      type: object
      properties:
        value:
          type: number
          format: float
        units:
          type: string
          enum:
          - pounds
          - ounces
          - grams
        WeightUnits:
          type: integer
    Package:
      type: object
      properties:
        carrierCode:
          type: string
        code:
          type: string
        name:
          type: string
        domestic:
          type: boolean
        international:
          type: boolean
    CarrierService:
      type: object
      properties:
        carrierId:
          type: integer
        carrierCode:
          type: string
        code:
          type: string
        name:
          type: string
        domestic:
          type: boolean
        international:
          type: boolean
    Dimensions:
      type: object
      properties:
        length:
          type: number
          format: float
        width:
          type: number
          format: float
        height:
          type: number
          format: float
        units:
          type: string
          enum:
          - inches
          - centimeters
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using API Key as username and API Secret as password
