openapi: 3.1.0
info:
  title: ShipStation V1 Accounts Warehouses API
  description: The ShipStation V1 API provides programmatic access to ShipStation's shipping platform for ecommerce businesses. Endpoints cover order management, shipment creation, label generation, carrier rate shopping, package tracking, warehouse management, product management, and store integrations. Authentication uses HTTP Basic auth with API key and secret.
  version: '1.0'
  contact:
    name: ShipStation
    url: https://www.shipstation.com/docs/api/
    email: apisupport@shipstation.com
  license:
    name: ShipStation API Terms
    url: https://www.shipstation.com/legal/terms-of-service/
  x-date: '2026-05-02'
servers:
- url: https://ssapi.shipstation.com
  description: ShipStation V1 API
security:
- BasicAuth: []
tags:
- name: Warehouses
  description: Manage warehouse locations
paths:
  /warehouses:
    get:
      operationId: listWarehouses
      summary: List Warehouses
      description: Obtains a list of your warehouses.
      tags:
      - Warehouses
      responses:
        '200':
          description: A list of warehouses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Warehouse'
    post:
      operationId: createWarehouse
      summary: Create Warehouse
      description: Adds a warehouse record to your account.
      tags:
      - Warehouses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseCreateRequest'
      responses:
        '200':
          description: Warehouse created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
  /warehouses/{warehouseId}:
    get:
      operationId: getWarehouse
      summary: Get Warehouse
      description: Returns a warehouse by warehouseId.
      tags:
      - Warehouses
      parameters:
      - name: warehouseId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Warehouse object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
    put:
      operationId: updateWarehouse
      summary: Update Warehouse
      description: Updates an existing warehouse.
      tags:
      - Warehouses
      parameters:
      - name: warehouseId
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseCreateRequest'
      responses:
        '200':
          description: Warehouse updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
    delete:
      operationId: deleteWarehouse
      summary: Delete Warehouse
      description: Removes a warehouse from ShipStation.
      tags:
      - Warehouses
      parameters:
      - name: warehouseId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Warehouse deleted
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    Warehouse:
      type: object
      properties:
        warehouseId:
          type: integer
        warehouseName:
          type: string
        originAddress:
          $ref: '#/components/schemas/Address'
        returnAddress:
          $ref: '#/components/schemas/Address'
        createDate:
          type: string
          format: date-time
        isDefault:
          type: boolean
    WarehouseCreateRequest:
      type: object
      required:
      - warehouseName
      - originAddress
      properties:
        warehouseName:
          type: string
        originAddress:
          $ref: '#/components/schemas/Address'
        returnAddress:
          $ref: '#/components/schemas/Address'
        isDefault:
          type: boolean
    Address:
      type: object
      properties:
        name:
          type: string
          description: Name of person
        company:
          type: string
          description: Company
        street1:
          type: string
          description: First line of address
        street2:
          type: string
          description: Second line of address
        street3:
          type: string
          description: Third line of address
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string
        phone:
          type: string
        residential:
          type: boolean
          description: Whether the address is residential
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using API Key as username and API Secret as password
